<p>
  Hello <%= @invitation.name %> this is <%= link_to "Bestie", utm(root_url, medium: "email", campaign: "invite", content: "salutation") %>!
</p>

<% if @user.blank? %>
  <p>You have a pending invite from <b><%= @invitation.requester.name %></b>. If you want them to be in your support network then you can sign up and accept <%= link_to "here", utm(pending_invitations_url,  medium: "email", campaign: "invite", content: "blank_user_here") %>.</p>
  
  <p>Bestie is an app that sends emails periodically to your friends to ask if they're okay; if they don't reply we'll prompt you to get in touch with them, and vice versa. This is because we feel reaching out is hardest when you need it most. So we want to help people get help without having to ask.</p>

  <p>You can also sign up but decline the invitation, and we won’t let them know if you do.</p>

<% else %>
  <p>You have a pending invite from <b><%= @invitation.requester.name %></b>. If you want them to be in your support network then you can accept <%= link_to "here", utm(pending_invitations_url, medium: "email", campaign: "invite", content: "existing_user_here") %>.</p>

  <p>You can also decline the invitation, and we won’t let them know if you do.</p>

<% end %>

<% if @invitee.present? %>
  <p>Oh, and are you okay? If you’re doing good then <%= link_to "hit the link", utm(status_url(token: @invitee.log_in_token), medium: "email", campaign: "invite", content: "okay_hit_the_link") %> and as usual, no log in or further action required.</p>
<% end %>

<p>All the bestie,<br/>Bestie</p>

<% if @invitee.present? %>
  <p>PS: We are trying to grow Bestie and we would appreciate <%= link_to "your support in Product Hunt", "https://www.producthunt.com/upcoming/bestie" %>.</p>
<% end %>
