<p>Hello <%= @user.nickname %>,</p>

<p>
  We asked <b><%= @not_ok_user.name %></b> if they were ok <%= time_ago_in_words @not_ok_user.latest_prompt_at %>
  ago and we haven't heard back. Maybe you should reach out to them?
</p>

<p>
  In case you need it, this is the email address that <%= @not_ok_user.nickname %> has shared with you: <a href="mailto:<%= @not_ok_user.email %>"><%= @not_ok_user.email %>.</a>
</p>

<p>All the bestie,<br/>Bestie</p>
