<p>
  Hello <%= @user.nickname %> this is <%= link_to "Bestie", utm(root_url, medium: "email", campaign: "prompt", content: "salutation") %>!
</p>

<% if @user.friends.count == 0 %>
  <p>We’re touching base to see if you’re okay? If you are then <%= link_to "hit the link", utm(status_url(token: @user.log_in_token), medium: "email", campaign: "prompt", content: "zero_friends_okay_hit_the_link") %> 😊</p>

  <p>You need some friends, though. Is there anybody who you think needs your support? <%= link_to "Add them", utm(invitations_url, medium: "email", campaign: "prompt", content: "zero_friends_add_them") %> and we’ll let you know how they are doing and if you need to touch base (and vice versa). Because you haven't got any connection on Bestie yet, we won't be able to alert anybody if you are not okay today; we recommend you send some invites.</p>

<% elsif @user.friends.count == 1 %>
  <p>We’re touching base to see if you’re okay? If you are then hit the link 😊</p>

  <p><%= link_to "Yes, I'm okay", utm(status_url(token: @user.log_in_token), medium: "email", campaign: "prompt", content: "one_friend_yes_im_okay") %></p>

<% elsif @user.friends.count > 1 %>
  <p>Are you okay? If you are <%= link_to "hit the link", utm(status_url(token: @user.log_in_token), medium: "email", campaign: "prompt", content: "more_than_one_friend_hit_the_link") %> and as usual no log in or further action required 😊</p>

<% end %>

<% if @user.friends.count == 1 %>
  <p>If you’re not doing so great then no drama, just ignore this email; we’ll let <b><%= @user.friends.first.nickname %></b> know to think about dropping you a message.</p>

  <p>Is there anybody else you would like to add to your support network? If so you can do it <%= link_to "here", utm(invitations_url, medium: "email", campaign: "prompt", content: "one_friend_here") %>. Just to let you know that we’re going to add a feature soon that lets you choose which friends you want to notify, and which you don’t. Also which friends you want to receive notifications for, which you can change at any time. For example, maybe you want <i><%= Faker::Name.first_name %></i> to give you a nudge if you’re feeling down, but nobody else. And maybe you want to give support to <i><%= Faker::Name.first_name %></i> but not receive it. This all remains private too, so nobody else will know who you have selected.</p>

<% elsif @user.friends.count == 2 %>
  <p>If you’re not, no drama. We’ll nudge <b><%= @user.friends.first.nickname %></b> and <b><%= @user.friends.second.nickname %></b> and hopefully they will touch base with you.</p>

<% elsif @user.friends.count > 2 %>
  <p>If you’re not, no drama. We’ll nudge <b><%= @user.friends.first.nickname %></b>, <b><%= @user.friends.second.nickname %></b>, and the rest of your network and hopefully they will touch base with you.</p>
<% end %>

<% if @user.friends.count >= 2 %>
  <p>Just to let you know that we’re going to add a feature soon that lets you choose which friends you want to notify, and which you don’t. Also which friends you want to receive notifications for, which you can change at any time. For example, maybe you want <b><%= @user.friends.first.nickname %></b> to give you a nudge if you’re feeling down, but nobody else. And maybe you want to give support to <b><%= @user.friends.second.nickname %></b> but not receive it. This all remains private too, so nobody else will know who you have selected.</p>
  
  <p>We’re working hard to make this happen, and we’ll let you know as soon as it is live.</p>
<% end %>

<p>All the bestie,<br/>Bestie</p>

<p>PS: We are trying to grow Bestie and we would appreciate <%= link_to "your support in Product Hunt", "https://www.producthunt.com/upcoming/bestie" %>.</p>
