<%= render "shared/narrow_page", title: "Log in" do %>
  <%= render "shared/flash_messages" %>
  <%= form_for(resource, as: resource_name, url: session_url(resource_name), html: { class: "space-y-6" }) do |form| %>
    <div>
      <%= form.label :email, class: form_label_class(resource.errors[:email].present?) %>
      <div class="mt-1">
        <%= form.email_field :email, autofocus: true, autocomplete: "email", class: form_input_class(resource.errors[:email].present?) %>
      </div>
      <%= render "shared/forms/error_message", errors: resource.errors.full_messages_for(:email) %>
    </div>

    <div>
      <%= form.label :password, class: form_label_class(resource.errors[:password].present?) %>
      <div class="mt-1">
        <%= form.password_field :password, autocomplete: "new-password", class: form_input_class(resource.errors[:password].present?) %>
      </div>
      <%= render "shared/forms/error_message", errors: resource.errors.full_messages_for(:password) %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <%= form.check_box :remember_me, class: "h-4 w-4 text-green-600 focus:ring-green-500 border-gray-300 rounded" %>
          <%= form.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
        </div>
      </div>
    <% end %>

    <div>
      <%= form.submit "Log in", class: form_submit_class %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
<% end %>
