<ul class="list-none mt-6 mb-6">
  <%- if controller_name != "sessions" %>
    <li class="mb-4"><%= link_to "Log in", new_session_url(resource_name), class: link_class %></li>
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != "registrations" %>
    <li class="mb-4"><%= link_to "Sign up", new_registration_url(resource_name), class: link_class %></li>
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != "passwords" && controller_name != "registrations" %>
    <li class="mb-4"><%= link_to "Forgot your password?", new_password_url(resource_name), class: link_class %></li>
  <% end %>

  <%- if devise_mapping.confirmable? && controller_name != "confirmations" %>
    <li class="mb-4"><%= link_to "Didn't receive confirmation instructions?", new_confirmation_url(resource_name), class: link_class %></li>
  <% end %>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != "unlocks" %>
    <li class="mb-4"><%= link_to "Didn't receive unlock instructions?", new_unlock_url(resource_name), class: link_class %></li>
  <% end %>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <li class="mb-4"><%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_url(resource_name, provider), class: link_class %></li>
    <% end %>
  <% end %>
</ul>