<%= render "shared/narrow_page", title: "Resend unlock instructions" do %>
  <%= form_for(resource, as: resource_name, url: unlock_url(resource_name), html: { method: :post, class: "space-y-6" }) do |form| %>
    <div>
      <%= form.label :email, class: form_label_class(resource.errors[:email].present?) %>
      <div class="mt-1">
        <%= form.email_field :email, autofocus: true, autocomplete: "email", class: form_input_class(resource.errors[:email].present?) %>
      </div>
      <%= render "shared/forms/error_message", errors: resource.errors.full_messages_for(:email) %>
    </div>

    <div>
      <%= form.submit "Resend confirmation instructions", class: form_submit_class %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
<% end %>
