<% 
  section_id = "collapsable-section-#{SecureRandom.urlsafe_base64(8)}" 
  expanded ||= false
%>

<div class="pt-6"
     data-controller="collapsable-section"
     data-collapsable-section-expanded-value="<%= expanded.to_s %>">
  <dt class="text-lg">
    <!-- Expand/collapse question button -->
    <button class="text-left w-full flex justify-between items-start text-gray-400"
            aria-controls="<%= section_id %>"
            aria-expanded="false"
            data-action="click->collapsable-section#toogle"
            data-collapsable-section-target="button">
      <span class="font-medium text-gray-900">
        <%= title %>
      </span>
      <span class="ml-6 h-7 flex items-center">
        <div data-collapsable-section-target="expandButton">
          <%= fa(:chevron_down) %>
        </div>
        <div data-collapsable-section-target="collapseButton" class="hidden">
          <%= fa(:chevron_up) %>
        </div>
      </span>
    </button>
  </dt>
  <dd id="<%= section_id %>"
      class="mt-2 pr-12 hidden"
      data-collapsable-section-target="body">
    <%= yield %>
  </dd>
</div>