<% dropdown_id = "dropdown-#{SecureRandom.urlsafe_base64(8)}" %>

<div class="relative inline-block text-left float-right" 
     data-controller="dropdown">
  <div>
    <button class="flex h-6 w-6 
                   bg-gray-100 rounded-full
                   items-center justify-center
                   text-gray-400 
                   hover:text-gray-600 
                   focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-green-500"
            aria-controls="<%= dropdown_id %>"
            aria-expanded="false"
            data-action="click->dropdown#toogle"
            data-dropdown-target="button">
      <span class="sr-only">Open dropdown menu</span>
      <div data-dropdown-target="openButton" aria-hidden="true">
        <%= fa(:ellipsis_v, "") %>
      </div>
      <div class="hidden" data-dropdown-target="closeButton" aria-hidden="true">
        <%= fa(:times, "h-5 w-5") %>
      </div> 
    </button>
  </div>
  <div id="<%= dropdown_id %>"
       class="origin-top-right absolute right-0 mt-2 w-56 
              rounded-md shadow-lg
              hidden"
       role="menu"
       data-dropdown-target="menu">
    <div class="rounded-md bg-gray-200 shadow-xs overflow-hidden">
      <%= yield %>
    </div>
  </div>
</div>