<%= content_for :html_title, title %>

<div class="flex flex-col px-4 py-12 
            text-gray-700 bg-white shadow
            sm:px-6 sm:mx-auto sm:w-full sm:max-w-md sm:rounded-lg sm:px-10">  
  <h1 class="mb-6
             text-center text-3xl font-extrabold text-gray-900">
    <%= title %>
  </h1>
  <%= yield %>
</div>
