<%= content_for :html_title, title %>

<div class="px-5 py-6 
            text-gray-700 bg-white shadow   
            sm:rounded-lg sm:px-6">
  <h1 class="mb-6
             text-left text-3xl font-extrabold text-gray-900">
    <%= title %>
  </h1>
  <%= yield %>
</div>
