<%= render "shared/card" do %>
  <%# Drop down menu %>
  <%= render "shared/dropdown" do %>
    <%= mail_to friendship.friend.email, class: drop_down_menu_item_class, role: "menuitem" do %>
      <%= fa(:envelope, "mr-4") %>
      Email
    <% end %>
    <%= button_to friendship, method: :delete, data: {confirm: "Are you sure you want to stop being friends with #{friendship.friend.nickname}?"}, class: drop_down_menu_item_class, role: "menuitem" do %>
      <%= fa(:trash, "mr-4") %>
      Delete
    <% end %>
  <% end %>

  <div class="flex flex-row overflow-hidden">
    <%# Avatar %>
    <div class="mt-2 mr-5">
      <div class="inline-block relative">
        <div class="h-20 w-20 rounded-md bg-gray-100">
          <% if friendship.friend.avatar.present? %>
            <%= image_tag friendship.friend.avatar.variant(resize_to_fill: [80, 80]) %>
          <% else %>
            <%= image_tag gravatar_url(friendship.friend.email_hash) %>
          <% end %>
        </div>
        <span class="absolute top-0 right-0 block h-4 w-4 transform -translate-y-1/2 translate-x-1/2 rounded-full text-white shadow-solid <%= friendship_color(friendship.friend) %>"/>
      </div>
    </div>

    <%# Metadata %>
    <div>
      <h1 class="mb-4 text-2xl text-gray-800"><%= friendship.friend.name %></h1>
      <div class="mb-4 text-gray-500 overflow-hidden whitespace-nowrap">
        <%= mail_to friendship.friend.email, class: "transition ease-in-out duration-150 hover:text-gray-400 focus:outline-none focus:underline" do %>
          <%= fa(:envelope, "mr-2") %>
          <%= friendship.friend.email %>
        <% end %>
      </div>
      <% if friendship.friend.latest_status_at %>
        <div class="mb-4 text-gray-500 overflow-hidden whitespace-nowrap">
          <%= fa(:check_circle, "mr-2") %>
          Last OK <%= time_ago_in_words(friendship.friend.latest_status_at) %> ago
        </div>
      <% end %>
    </div>
  </div>

  <div class="text-gray-500">
    <%= friendship_message(friendship.friend) %>
  </div>
<% end %>