<% if @pending_invitations.present? %>
  <h2 class="mt-5 md:mt-10
             text-2xl sm:text-2xl md:text-2xl 
             tracking-tight font-extrabold text-gray-900">
    You have some pending invitations
  </h2>

  <div class="grid grid-cols-1 gap-3 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2
              m-0 mt-10 mb-10 lg:m-10">
    <% @pending_invitations.each do |pending_invitation| %>
      <%= render "pending_invitations/pending_invitation", pending_invitation: pending_invitation %>
    <% end %>
  </div>
  
  <h2 class="mt-5 md:mt-10
             text-2xl sm:text-2xl md:text-2xl 
             tracking-tight font-extrabold text-gray-900">
    Friendships
  </h2>
<% end %>

<% if @friendships.empty? %>
  <% content_for :html_title, "Invite a friend" %>
  <%= render "invitations/new" %>
<% else %>
  <% content_for :html_title, "Friends" %>
  <div class="grid grid-cols-1 gap-3 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2
              m-0 mt-10 mb-10 lg:m-10">
    <% @friendships.each do |friendship| %>
      <%= render "friendship", friendship: friendship %>
    <% end %>
    <%= render "shared/card" do %>
      <h1 class="mb-4 text-2xl text-gray-800">Invite more friends?</h1>
      <%= render "invitations/form" %>
    <% end %>
  </div>
<% end %>

