<% invitation ||= Invitation.new %>

<% if current_user.invites_left > 0 %>
  <p>You have <%= pluralize(current_user.invites_left, "invite") %> left.</p>

  <%= form_with(model: invitation, html: {class: "space-y-6"}) do |form| %>
    <div>
      <%= form.label :email, class: form_label_class(invitation.errors[:email].present?) %>
      <div class="mt-1">
        <%= form.email_field :email, class: form_input_class(invitation.errors[:email].present?) %>
      </div>
      <%= render "shared/forms/error_message", errors: invitation.errors.full_messages_for(:email) %>
    </div>
    
    <div>
      <%= form.label :name, class: form_label_class(invitation.errors[:name].present?) %>
      <div class="mt-1">
        <%= form.text_field :name, class: form_input_class(invitation.errors[:name].present?) %>
      </div>
      <%= render "shared/forms/error_message", errors: invitation.errors.full_messages_for(:name) %>
    </div>

    <div>
      <%= form.submit "Invite", class: form_submit_class %>
    </div>
  <% end %>
<% else %>
  <p>We are sorry, but you don't have any invites left. You can write to <%= mail_to "info@bestie.care" %> to get more.</p>
<% end %>