<%= render "shared/card" do %>
  <%# Drop down menu %>
  <%= render "shared/dropdown" do %>
    <%= mail_to invitation.email, class: drop_down_menu_item_class, role: "menuitem" do %>
      <%= fa(:envelope, "mr-4") %>
      Email
    <% end %>
    <%= button_to invitation, method: :delete, data: {confirm: "Are you sure you want to delete the invitation to #{invitation.name}?" }, class: drop_down_menu_item_class, role: "menuitem" do %>
      <%= fa(:trash, "mr-4") %>
      Delete
    <% end %>
  <% end %>

  <div class="flex flex-row overflow-hidden">
    <%# Avatar %>
    <div class="mt-2 mr-5">
      <div class="inline-block relative">
        <div class="h-16 w-16 rounded-md bg-gray-100">
          <%= image_tag gravatar_url(invitation.email_hash) %>
        </div>
        <span class="absolute top-0 right-0 block h-4 w-4 transform -translate-y-1/2 translate-x-1/2 rounded-full text-white shadow-solid %>"/>
      </div>
    </div>

    <%# Metadata %>
    <div>
      <h1 class="mb-4 text-2xl text-gray-800"><%= invitation.name %></h1>
      <div class="mb-4 text-gray-500 overflow-hidden whitespace-nowrap">
        <%= mail_to invitation.email, class: "hover:text-gray-400 focus:outline-none focus:underline transition ease-in-out duration-150" do %>
          <%= fa(:envelope, "mr-2") %>
          <%= invitation.email %>
        <% end %>
      </div>
      <div class="mb-4 text-gray-500 overflow-hidden whitespace-nowrap">
        <%= fa(:clock, "mr-2") %>
        Invited <%= time_ago_in_words(invitation.invited_at) %> ago
      </div>
    </div>
  </div>
<% end %>
