<% if @invitations.empty? %>
  <% content_for :html_title, "Invite a friend" %>
  <%= render "new" %>
<% else %>
  <% content_for :html_title, "Invitations" %>
  <div class="grid grid-cols-1 gap-3 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2
              m-0 mt-10 mb-10 lg:m-10">
    <% @invitations.each do |invitation| %>
      <%= render "invitation", invitation: invitation %>
    <% end %>
    <%= render "shared/card" do %>
      <h1 class="mb-4 text-2xl text-gray-800">Invite more friends?</h1>
      <%= render "form" %>
    <% end %>
  </div>
<% end %>
