<%= render "shared/wide_page", title: "Cookie Policy" do %>
  <p>This is the Cookie Policy for Bestie, accessible from bestie.care</p>
  <h2 class="mt-10 mb-4 text-2xl leading-6 font-medium text-gray-900">What Are Cookies?</h2>
  <p> As is common practice with almost all professional websites this site uses cookies, which are tiny files
    that
    are downloaded to your computer, to improve your experience. This page describes what information they gather,
    how we use it and why we sometimes need to store these cookies. We will also share how you can prevent these
    cookies from being stored however this may downgrade or 'break' certain elements of the sites functionality.
  </p>
  <h2 class="mt-10 mb-4 text-2xl leading-6 font-medium text-gray-900">How We Use Cookies</h2>
  <p>We use cookies for a variety of reasons detailed below. Unfortunately in most cases there are no industry
    standard options for disabling cookies without completely disabling the functionality and features they add to
    this site. It is recommended that you leave on all cookies if you are not sure whether you need them or not in
    case they are used to provide a service that you use.</p>
  <h2 class="mt-10 mb-4 text-2xl leading-6 font-medium text-gray-900">Disabling Cookies</h2>
  <p>You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for
    how
    to do this). Be aware that disabling cookies will affect the functionality of this and many other websites
    that
    you visit. Disabling cookies will usually result in also disabling certain functionality and features of the
    this site. Therefore it is recommended that you do not disable cookies.</p>
  <h2 class="mt-10 mb-4 text-2xl leading-6 font-medium text-gray-900">The Cookies We Set</h2>
  <h3 class="mt-8 mb-3 text-xl leading-6 font-medium text-gray-900">Account related cookies</h3>
  <p>If you create an account with us then we will use cookies for the management of the signup process and
    general
    administration. These cookies will usually be deleted when you log out however in some cases they may remain
    afterwards to remember your site preferences when logged out.</p>
  <h3 class="mt-8 mb-3 text-xl leading-6 font-medium text-gray-900">Login related cookies</h3>
  <p>We use cookies when you are logged in so that we can remember this fact. This prevents you from having to log
    in every single time you visit a new page. These cookies are typically removed or cleared when you log out to
    ensure that you can only access restricted features and areas when logged in.</p>
  <h3 class="mt-8 mb-3 text-xl leading-6 font-medium text-gray-900">Forms related cookies</h3>
  <p>When you submit data to through a form such as those found on contact pages or comment forms cookies may be
    set
    to remember your user details for future correspondence.</p>
  <h2 class="mt-10 mb-4 text-2xl leading-6 font-medium text-gray-900">Third Party Cookies</h2>
  <p>In some special cases we also use cookies provided by trusted third parties. The following section details
    which third party cookies you might encounter through this site.</p>
  <ul class="list-disc pl-5">
    <li><p>This site uses Google Analytics which is one of the most widespread and trusted analytics solution on
      the
      web for helping us to understand how you use the site and ways that we can improve your experience. These
      cookies may track things such as how long you spend on the site and the pages that you visit so we can
      continue to produce engaging content. For more information on Google Analytics cookies, see the official
      Google Analytics page.</p></li>
    <li><p>We also use social media buttons and/or plugins on this site that allow you to connect with your social
      network in various ways. For these to work the following social media sites including; Facebook and Twitter,
      will set cookies through our site which may be used to enhance your profile on their site or contribute to
      the
      data they hold for various purposes outlined in their respective privacy policies.</p></li>
  </ul>
  <h2 class="mt-10 mb-4 text-2xl leading-6 font-medium text-gray-900">More Information</h2>
  <p>Hopefully that has clarified things for you and as was previously mentioned if there is something that you
    aren't sure whether you need or not it's usually safer to leave cookies enabled in case it does interact with
    one of the features you use on our site.</p>
  <p>However if you are still looking for more information then you can contact us by email at info@bestie.care.</p>
<% end %>