<%= render "shared/wide_page", title: "Frequently Asked Questions" do %>
  <dl class="mt-6 space-y-6 divide-y divide-gray-200">
    <%= render "shared/collapsable_section", title: "How does this work?", expanded: true do %>
      <p class="text-base text-gray-600">
        It's very simple. You sign up on the website and you’ll be able to invite your close 
        friends; your family; your support group. The ones you trust to talk to when things are 
        tough.  Periodically you’ll get an email with a link asking whether you’re okay. If you 
        click the link, nothing happens. If you don't click it in 24hs your friends will get an 
        email telling them that they should give you a call and check on you.
      </p>
    <% end %>
    <%= render "shared/collapsable_section", title: "What happens if I missed the email but everything is ok?" do %>
      <p class="text-base text-gray-600">
        Your friend reaches out to you and you tell them everything is ok and that's it. Just say
        hi! 👋
      </p>
    <% end %>
    <%= render "shared/collapsable_section", title: "I'll just press the link because I don't like asking for help, right?" do %>
      <p class="text-base text-gray-600">
        You certainly can, but if you do, then this doesn't work very well. 😥 I understand asking 
        for help is uncomfortable, so just tell your friend "Oh, yeah, I missed the email" and 
        since you are now talking, keep on talking, and maybe share what's going on. Bestie is 
        designed for this kind of <i>(ab)use</i> 😉.
      </p>
    <% end %>
    <%= render "shared/collapsable_section", title: "Why email?" do %>
      <p class="text-base text-gray-600">
        Because it's simple, because most everybody has email, and because Bestie shouldn't chase 
        you until you answer. I am counting on the fact that when we struggle, we often neglect our
        inbox. This is by design. 📩
      </p>
    <% end %>
    <%= render "shared/collapsable_section", title: "Why isn't this an app?" do %>
      <p class="text-base text-gray-600">
        There's no need for this to be a (mobile) app right now; a web app is good enough. I also 
        think asking people to install an app is a big ask. We have big ideas for the future, 
        though, with features that may warrant a mobile app. 
      </p>
    <% end %>
    <%= render "shared/collapsable_section", title: "What's coming next?" do %>
      <p class="text-base text-gray-600">
        Oh, it's a secret! 😎 But alright, we’ll let you know some of it… In the next few months 
        we're making the process of joining and creating your support network smooth and easy; and 
        adding features such as being able to select which of your friends receive alerts, and 
        which you wish to receive alerts about; adding pause functions; adjusting check in timings 
        and so on. But this will all take us a bit of time; remember that patient is a virtue 😉 
      </p>
    <% end %>
    <%= render "shared/collapsable_section", title: "How much does this cost?" do %>
      <p class="text-base text-gray-600">
        Right now this is free. I won't make any promises I can't keep; I want to keep it free. 
        I want it to be a free service to make the world a better place, but at some point there 
        might be some kind of paid version to be able to pay bills. 💸
      </p>
    <% end %>
    <%= render "shared/collapsable_section", title: "Who pays for this then?" do %>
      <p class="text-base text-gray-600">
        Good question. From a legal perspectie, <%= link_to "Flexpoint Tech Ltd", "https://flexpoint.tech", class: link_class %>, 
        but in reality, this is just coming out <%= link_to "Pablo Fernandez", "https://twitter.com/pupeno", class: link_class %>'s
        paycheck.
      </p>
    <% end %>
    <%= render "shared/collapsable_section", title: "This sounds great, how can I help?" do %>
      <p class="text-base text-gray-600">
        Thank you for thinking about this. 😊🤗
      </p>
      <p class="text-base text-gray-600 mt-4">
        You can:
        <ul role="list" class="ml-4">
          <li>
            <%= link_to "https://www.producthunt.com/upcoming/bestie", class: link_class do %>
              <%= fab(:product_hunt, :lg) %> Subscribe to our launch on Product Hunt
            <% end %>
          </li>
          <li>
            <%= link_to "https://twitter.com/bestie_care", class: link_class do %>
              <%= fab(:twitter) %> Follow us on Twitter
            <% end %>
          </li>
          <li>
            <%= link_to "https://twitter.com/intent/tweet?text=#{CGI.escape("Go check out https://bestie.care, it's pretty cool. You can follow them at @bestie_care.")}", class: link_class do %>
              <%= fab(:twitter) %> Tweet about us
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.facebook.com/bestiecarecare", class: link_class do %>
              <%= fab(:facebook) %> Follow us on Facebook
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.instagram.com/bestie_care/", class: link_class do %>
              <%= fab(:instagram) %> Follow us on Instagram
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.linkedin.com/showcase/bestiecare/", class: link_class do %>
              <%= fab(:linkedin) %> Follow us on LinkedIn
            <% end %>
          </li>
        </ul>
      </p>
    <% end %>
    <%= render "shared/collapsable_section", title: "Did anyone really ask these questions?" do %>
      <p class="text-base text-gray-600">
        Nope. 🤷‍♂️ Well... except the one about email. Everybody asks us that one.
      </p>
    <% end %>
  </dl>
<% end %>
