<div class="relative overflow-hidden 
            max-w-7xl
            px-4 mt-2 sm:mt-6 mx-auto 
            text-center">
  <p class="max-w-md md:max-w-3xl
            mt-3 md:mt-5 mx-auto 
            text-base text-gray-500 sm:text-lg md:text-xl">
    Asking for help is the hardest when you need it the most.
  </p>
  <h2 class="mt-5 md:mt-10
             text-4xl sm:text-5xl md:text-6xl 
             tracking-tight font-extrabold text-gray-900">
    <span class="block xl:inline">Don't ask for help,</span>
    <span class="block text-green-600 xl:inline">get help</span>
  </h2>
  <p class="max-w-md
            mt-5 md:mt-10 mx-auto 
            text-base text-gray-500 sm:text-lg md:text-xl md:max-w-3xl">
    Bestie connects you with your closest friends, your family, your support network and checks on everyone. When someone doesn't respond, it alerts the others that they might be struggling.
  </p>
  <div class="max-w-md sm:flex sm:justify-center 
              mt-10 md:mt-10 mx-auto">
    <div class="rounded-md shadow">
      <%= link_to "Register", utm(new_user_registration_url, content: "home_cta"), class: "w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-green-600 hover:bg-green-700 md:py-4 md:text-lg md:px-10"%>
    </div>
  </div>
</div>
