<div class="relative overflow-hidden 
            max-w-7xl
            px-4 mt-2 sm:mt-6 mx-auto 
            text-center">
  <h2 class="mt-5 md:mt-10
             text-4xl sm:text-5xl md:text-6xl 
             tracking-tight font-extrabold text-gray-900">
    <span class="block xl:inline">Bestie is </span>
    <span class="block text-green-600 xl:inline">FREE</span>
    <span class="block text-2xl">(hooray!)</span>
  </h2>
  <p class="max-w-md
            mt-5 md:mt-10 mx-auto 
            text-base text-gray-500 sm:text-lg md:text-xl md:max-w-3xl">
    But if your organization needs a white-label version of Besti -, a centralized way of checking on people's welfare - please <%= mail_to "info@bestie.care", "get in touch with us", class: link_class %>.
  </p>
  <div class="max-w-md sm:flex sm:justify-center 
              mt-10 md:mt-10 mx-auto">
    <div class="rounded-md shadow">
      <%= mail_to "info@bestie.care", "Contact Us", class: "w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-green-600 hover:bg-green-700 md:py-4 md:text-lg md:px-10"%>
    </div>
  </div>
  <p class="max-w-md
            mt-5 md:mt-10 mx-auto 
            text-base text-gray-500 sm:text-lg md:text-xl md:max-w-3xl">
    If you know of any organization that might benefit from having their own Bestie, please <%= mail_to "info@bestie.care", "let us know", class: link_class %>. We are searching for opportunities for enterprises to secure ongoing funding for the free consumer version of Bestie.
  </p>
</div>
