<%= render "shared/card" do %>
  <%= render "shared/dropdown" do %>
    <%= mail_to pending_invitation.requester.email, class: drop_down_menu_item_class, role: "menuitem" do %>
      <%= fa(:envelope, "mr-4") %>
      Email
    <% end %>
    <%= button_to pending_invitation_url(pending_invitation), method: :put, class: drop_down_menu_item_class, role: "menuitem" do %>
      <%= fa(:check, "mr-4") %>
      Accept
    <% end %>
    <%= button_to pending_invitation_url(pending_invitation), method: :delete, data: {confirm: "Are you sure you want to delete the invitation from #{pending_invitation.requester.name}?"}, class: drop_down_menu_item_class, role: "menuitem" do %>
      <%= fa(:times, "mr-4") %>
      Delete
    <% end %>
  <% end %>
  <div class="flex flex-row overflow-hidden">
    <div class="mt-2 mr-10">
      <div class="inline-block relative">
        <div class="h-16 w-16 rounded-md bg-gray-100">
          <% if pending_invitation.requester.avatar.present? %>
            <%= image_tag pending_invitation.requester.avatar.variant(resize_to_fill: [80, 80]) %>
          <% else %>
            <%= image_tag gravatar_url(pending_invitation.requester.email_hash) %>
          <% end %>
        </div>
        <span class="absolute top-0 right-0 block h-4 w-4 transform -translate-y-1/2 translate-x-1/2 rounded-full text-white shadow-solid"/>
      </div>
    </div>
    <div>
      <h1 class="mb-4 text-2xl text-gray-800"><%= pending_invitation.requester.name %></h1>
      <div class="mb-4 text-gray-500 overflow-hidden whitespace-nowrap">
        <%= mail_to pending_invitation.requester.email, class: "hover:text-gray-400 focus:outline-none focus:underline transition ease-in-out duration-150" do %>
          <%= fa(:envelope, "mr-3") %>
          <%= pending_invitation.requester.email %>
        <% end %>
      </div>
      <div class="mb-4 text-gray-500 overflow-hidden whitespace-nowrap">
        <%= fa(:clock, "mr-3") %>
        Invited <%= time_ago_in_words(pending_invitation.invited_at) %> ago
      </div>
      
      <%= button_to pending_invitation_url(pending_invitation), method: :put, class: button_class do %>
        <%= fa(:check, "mr-4") %>
        Accept Invitation
      <% end %>
    </div>
  </div>
<% end %>

