<% content_for :html_title, "Pending Invitations" %>

<% if @pending_invitations.empty? %>
  <%= render "shared/narrow_page", title: "Pending Invitations" do %>
    <p>There are no pending invitations. Invite some friends?</p>
    <%= render "invitations/form" %>
  <% end %>
<% else %>
  <div class="grid grid-cols-1 gap-3 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2
              m-0 mt-10 mb-10 lg:m-10">
    <% @pending_invitations.each do |pending_invitation| %>
      <%= render "pending_invitation", pending_invitation: pending_invitation %>
    <% end %>
    <%= render "shared/card" do %>
      <h1 class="mb-4 text-2xl text-gray-800">Invite some friends?</h1>
      <%= render "invitations/form" %>
    <% end %>
  </div>
<% end %>