<%= render "shared/narrow_page", title: "Change your password" do %>
  <%= form_for(resource, as: resource_name, url: password_url(resource_name), html: { method: :put, class: "space-y-6" }) do |form| %>
    <%= form.hidden_field :reset_password_token %>

    <div>
      <%= form.label :password, class: form_label_class(resource.errors[:password].present?) do |l| %>
        <%= l %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      <% end %>
      <div class="mt-1">
        <%= form.password_field :password, autofocus: true, autocomplete: "new-password", class: form_input_class(resource.errors[:password].present?) %>
      </div>
      <%= render "shared/forms/error_message", errors: resource.errors.full_messages_for(:password) %>
    </div>

    <div>
      <%= form.label :password_confirmation, class: form_label_class(resource.errors[:password_confirmation].present?) %>
      <div class="mt-1">
        <%= form.password_field :password_confirmation, autocomplete: "new-password", class: form_input_class(resource.errors[:password_confirmation].present?) %>
      </div>
      <%= render "shared/forms/error_message", errors: resource.errors.full_messages_for(:password_confirmation) %>
    </div>

    <div>
      <%= form.submit "Change my password", class: form_submit_class %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
<% end %>
