<div class="w-full bg-gray-100 flex items-center justify-center relative"
     data-controller="cookie-popup">
  <div class="w-full p-5 lg:px-24 bg-green-900">
    <div class="md:flex items-center">
      <div class="md:flex-1 px-3 mb-5 md:mb-0">
        <p class="text-center md:text-left text-white text-xs leading-tight md:pr-12">
          We and selected partners and related companies, use cookies and similar technologies as specified in our 
          <%= link_to "Cookie Policy", cookie_policy_url %>. You agree to consent to the use of
          these technologies by clicking Accept Cookies, or by continuing to browse this website.
        </p>
      </div>
      <div class="px-3 text-center">
        <button class="py-2 px-8 bg-green-600 hover:bg-green-700 text-white rounded font-bold text-sm shadow-xl"
                data-action="click->cookie-popup#acceptCookies">Accept Cookies</button>
      </div>
    </div>
  </div>
</div>