<footer class="bg-white">
  <div class="max-w-7xl mx-auto 
              pt-12 pb-2 px-4 
              overflow-hidden sm:px-6 lg:px-8">
    <%# Navigation %>
    <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
      <div class="px-5 py-2">
        <%= footer_link "Frequently Asked Questions", faq_url %>
      </div>
      <div class="px-5 py-2">
        <%= footer_link "Enterprise", pricing_url %>
      </div>
      <div class="px-5 py-2">
        <%= footer_link "Cookie Policy", cookie_policy_url %>
      </div>
      <div class="px-5 py-2">
        <%= footer_link "Privacy Policy", privacy_policy_url %>
      </div>
      <div class="px-5 py-2">
        <%= mail_to "help@bestie.care", "Contact Us", class: footer_link_class %>
      </div>
    </nav>

    <%# Social links %>
    <div class="mt-8 flex justify-center space-x-6">
      <%= link_to "https://www.producthunt.com/upcoming/bestie", class: "text-gray-400 hover:text-gray-500" do %>
        <span class="sr-only">Support us on our Product Hunt launch</span>
        <%= fab(:product_hunt, :lg) %> 
      <% end %>
      <%= link_to "https://twitter.com/bestie_care", class: "text-gray-400 hover:text-gray-500" do %>
        <span class="sr-only">Follow us on Twitter</span>
        <%= fab(:twitter, :lg) %> 
      <% end %>
      <%= link_to "https://www.facebook.com/bestiecarecare", class: "text-gray-400 hover:text-gray-500" do %>
        <span class="sr-only">Follow us on Facebook</span>
        <%= fab(:facebook, :lg) %> 
      <% end %>
      <%= link_to "https://www.instagram.com/bestie_care/", class: "text-gray-400 hover:text-gray-500" do %>
        <span class="sr-only">Follow us on Instagram</span>
        <%= fab(:instagram, :lg) %> 
      <% end %>
      <%= link_to "https://www.linkedin.com/showcase/bestiecare/", class: "text-gray-400 hover:text-gray-500" do %>
        <span class="sr-only">Follow us on LinkedIn</span>
        <%= fab(:linkedin, :lg) %> 
      <% end %>
    </div>

    <%# Copiright %>
    <p class="mt-8 text-center text-base text-gray-400">
      &copy; <%= Date.today.year %> <%= link_to "Flexpoint Tech Ltd", "https://flexpoint.tech", class: "text-base text-gray-500 underline hover:text-gray-900" %>. All rights reserved.
    </p>

    <%# Mandatory UK footer 
    https://www.gov.uk/running-a-limited-company/signs-stationery-and-promotional-material
    https://startsmarter.co.uk/do-your-website-and-email-footers-comply-with-uk-law/ %>
    <p class="mt-4 text-xs text-center text-gray-400">
      Flexpoint Tech Ltd is a company registered England and Wales (Company No. 10362469) Evolution House Iceni Court, Delft Way, Norwich, Norfolk, England, NR6 6BB, UK. -- <%= ENV["HEROKU_RELEASE_VERSION"] %>
    </p>
  </div>
</footer>
