<div class="ml-3 relative">
  <div>
    <button class="flex max-w-xs 
                   bg-gray-800 rounded-full 
                   items-center 
                   text-sm 
                   focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
            aria-controls="user-menu"
            aria-expanded="false"
            data-action="click->top-bar#toggleDesktopUserMenu"
            data-top-bar-target="desktopUserMenuButton">
      <span class="sr-only">Open user menu</span>
      <% if current_user.avatar.present? %>
        <%= image_tag current_user.avatar.variant(resize_to_fill: [32, 32]), class: "h-8 w-8 rounded-full" %>
      <% else %>
        <%= image_tag gravatar_url(current_user.email_hash), class: "h-8 w-8 rounded-full" %>
      <% end %>
    </button>
  </div>
  <div id="user-menu"
       class="hidden origin-top-right absolute right-0 z-50
              w-48 
              mt-2
              bg-gray-200 shadow-lg rounded-md ring-1 ring-black ring-opacity-5
              overflow-hidden"
       role="menu"
       aria-orientation="vertical"
       aria-labelledby="user-menu"
       data-top-bar-target="desktopUserMenu">
    <%= link_to "Profile", edit_user_registration_url, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300", role: "menuitem" %>
    <%= button_to "Sign out", destroy_user_session_url, method: :delete, class: "block px-4 py-2 w-full bg-gray-200 text-sm text-left text-gray-700 hover:bg-gray-300 cursor-pointer", role: "menuitem" %>
  </div>
</div>