<nav class="bg-green-800"
     data-controller="top-bar">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <%# Logo %>
        <div class="flex-shrink-0">
          <%= link_to utm(root_url, content: "top_bar_logo")  do %>
            <%= image_tag "white logomark.svg", class: "h-10 w-10", alt: "Bestie's logo" %>
          <% end %>
        </div>
        
        <%# Desktop menu, not visible on mobile %>
        <div class="hidden md:block">
          <%= render "layouts/top_bar_desktop_menu" %>
        </div>
      </div>

      <% if user_signed_in? %>
        <%# Bestie button %>
        <div class="flex-grow text-center">
          <%= link_to "I'm OK", status_url, class: button_class %>
        </div>

        <%# Pending invitations alert %>
        <% if current_user.pending_invitations.count > 0%>
          <%= link_to pending_invitations_url, class: "inline-flex items-center justify-center h-8 w-8 rounded-full bg-red-500 mr-4" do %>
            <div class="text-sm font-bold leading-none text-white"
                title="You have <%= current_user.pending_invitations.count %> pending invitations">
              <%= current_user.pending_invitations.count %>
            </div>
          <% end %>
        <% end %>

        <%# User menu %>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <%= render "layouts/top_bar_desktop_user_menu" %>
          </div>
        </div>
      <% end %>

      <%# Mobile menu button, visible only on mobile %>
      <div class="-mr-2 flex md:hidden">
        <button class="w-10 h-10 bg-green-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-800 focus:ring-white"
                aria-controls="mobile-menu"
                aria-expanded="false"
                data-action="click->top-bar#toggleMobileMenu"
                data-top-bar-target="mobileMenuButton">
          <span class="sr-only">Open menu</span>
          <div data-top-bar-target="mobileOpenMenuButton" aria-hidden="true">
            <%= fa(:bars, "fa-lg") %>
          </div>
          <div class="hidden" data-top-bar-target="mobileCloseMenuButton" aria-hidden="true">
            <%= fa(:times, "fa-lg") %>
          </div>
        </button>
      </div>
    </div>
  </div>

  <%# Mobile menu, visible only in mobile%>
  <div id="mobile-menu"
       class="hidden md:hidden"
       role="menu"
       data-top-bar-target="mobileMenu">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <%= render "layouts/top_bar_mobile_menu" %>
    </div>
    <% if user_signed_in? %>
      <div class="pt-4 pb-3 border-t border-gray-700">
        <div class="flex items-center px-5">
          <div class="flex-shrink-0">
            <% if current_user.avatar.present? %>
              <%= image_tag current_user.avatar.variant(resize_to_fill: [40, 40]), class: "h-10 w-10 rounded-full" %>
            <% else %>
              <%= image_tag gravatar_url(current_user.email_hash), class: "h-10 w-10 rounded-full" %>
            <% end %>
          </div>
          <div class="ml-3">
            <div class="text-base font-medium leading-none text-white"><%= current_user.name %></div>
            <div class="text-sm font-medium leading-none text-gray-400"><%= current_user.email %></div>
          </div>
        </div>
        <div class="mt-3 px-2 space-y-1">
          <%= top_bar_mobile_link "Profile", edit_user_registration_url %>
          <%= button_to "Sign out", destroy_user_session_url, method: :delete, class: top_bar_mobile_button_class, role: "menuitem" %>
        </div>
      </div>
    <% end %>
  </div>
</nav>
