<%# TODO: keep synchronized with the mobile menu in _top_bar_mobile_menu.html.erb %>
<div class="ml-10 flex items-baseline space-x-4">
  <% if !user_signed_in? %>
    <%= top_bar_desktop_link "Register", new_user_registration_url %>
    <%= top_bar_desktop_link "Log in", new_user_session_url %>
    <%= top_bar_desktop_link "Pricing", pricing_url %>
    <%= top_bar_desktop_link "FAQ", faq_url %>
  <% else %>
    <%= top_bar_desktop_link "Friends", friendships_url %>
    <%= top_bar_desktop_link "Invitations", invitations_url %>
    <%= top_bar_desktop_link "Pricing", pricing_url %>
    <%= top_bar_desktop_link "FAQ", faq_url %>
  <% end %>
  <%= top_bar_desktop_link "https://www.producthunt.com/upcoming/bestie" do %>
    Support us on Product Hunt <%= fa(:external_link_alt, "pl-1") %> 
  <% end %>
</div>