<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%# Define data layer for Google tag manager https://developers.google.com/tag-manager/devguide %>
    <script>
      dataLayer = [];
    </script>
    <% if user_signed_in? %>
      <script>
        dataLayer.push({"user_id": "<%= current_user.id %>"});
      </script>
    <% end %>

    <%# Google Tag Manager: https://developers.google.com/tag-manager/quickstart %>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','<%= ENV["GOOGLE_TAG_MANAGER_ID"] %>');</script>

    <% title = "#{content_for?(:html_title) ? "#{yield :html_title} - " : ""}Bestie - Don't ask for help, get help." %>
    <title><%= title %></title>
    <meta name="apple-mobile-web-app-title" content="Bestie" />
    <meta name="application-name" content="Bestie" />
    <meta name="og:site_name" content="Bestie" />
    <meta name="og:title" content="<%= title%>"/>
    <meta name="og:image" content="<%= image_url "logomark - 1024x1024.png" %>"/>
    <meta name="og:description" conten="Asking for help is the hardest when you need it the most. Don't ask for help, get help." />
    <meta name="description" content="Asking for help is the hardest when you need it the most. Don't ask for help, get help." />

    <%# https://realfavicongenerator.net/favicon_result?file_id=p1f3gakv5b1c2kf8h1v521re91sn6 %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#065f46">
    <meta name="apple-mobile-web-app-title" content="Bestie">
    <meta name="application-name" content="Bestie">
    <meta name="msapplication-TileColor" content="#065f46">
    <meta name="theme-color" content="#065F46">
   
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body class="flex flex-col min-h-screen antialiased font-sans bg-gray-300">
    <%# Google Tag Manager (noscript): https://developers.google.com/tag-manager/quickstart %>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= ENV["GOOGLE_TAG_MANAGER_ID"] %>"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <%= render "layouts/top_bar" %>

    <main class="flex-grow max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <%= render "shared/flash_messages" %>
      <%= yield %>
    </main>

    <%= render "layouts/cookie_popup" %>
    <%= render "layouts/footer" %>
  </body>
</html>
