<p>Hi <%= @resource.nickname %> this is <%= link_to "Bestie", root_url %>,</p>

<p>You signed up! Great!</p>

<p>Confirm your email <%= link_to "here", confirmation_url(@resource, confirmation_token: @token) %>.</p>

<p>You do need to log in at least at the start to accept and send friend invites, else we won’t know who to nudge if you go no contact. Plus you can add a selfie (though you don’t have to).</p>

<p>All the bestie,<br/>
Bestie</p>