<%= render "shared/wide_page", title: "Edit Profile" do %>
  <div class="grid grid-flow-col auto-cols-max">
    <%= form_for(resource, as: resource_name, url: registration_url(resource_name), html: { method: :put, class: "space-y-6" }) do |form| %>
      <div>
        <%= form.label :current_password, class: form_label_class(resource.errors[:current_password].present?) do |l| %>
          <%= l %>
          <em>(we need your current password to confirm your changes)</em>
        <% end %>
        <div class="mt-1">
          <%= form.password_field :current_password, autocomplete: "new-password", class: form_input_class(resource.errors[:current_password].present?) %>
        </div>
        <%= render "shared/forms/error_message", errors: resource.errors.full_messages_for(:current_password) %>
      </div>

      <div>
        <%= form.label :name, "Full name", class: form_label_class(resource.errors[:name].present?) %>
        <div class="mt-1">
          <%= form.text_field :name, autofocus: true, autocomplete: "name", class: form_input_class(resource.errors[:name].present?) %>
        </div>
        <%= render "shared/forms/error_message", errors: resource.errors.full_messages_for(:name) %>
      </div>

      <div>
        <%= form.label :nickname, class: form_label_class(resource.errors[:nickname].present?) %>
        <div class="mt-1">
          <%= form.text_field :nickname, autocomplete: "nickname", class: form_input_class(resource.errors[:nickname].present?) %>
        </div>
        <%= render "shared/forms/error_message", errors: resource.errors.full_messages_for(:nickname) %>
      </div>

      <div>
        <%= form.label :email, class: form_label_class(resource.errors[:email].present?) %>
        <div class="mt-1">
          <%= form.email_field :email, class: form_input_class(resource.errors[:email].present?) %>
        </div>
        <%= render "shared/forms/error_message", errors: resource.errors.full_messages_for(:email) %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div>
        <%= form.label :avatar, "Profile picture", class: form_label_class(resource.errors[:avatar].present?) %>
        <% if current_user.avatar.present? %>
          <%= image_tag current_user.avatar.variant(resize_to_fill: [128, 128]) %>
        <% else %>
          <%= image_tag gravatar_url(current_user.email_hash, size: 128) %>
        <% end %>
        <div class="mt-1">
          <%= form.file_field :avatar, class: form_input_class(resource.errors[:avatar].present?) %>
        </div>
        <%= render "shared/forms/error_message", errors: resource.errors.full_messages_for(:avatar) %>
      </div>

      <div>
        <%= form.label :password, class: form_label_class(resource.errors[:password].present?) do |l| %>
          <%= l %>
          <em>(leave blank if you don't want to change it)</em>
          <% if @minimum_password_length %>
            <br/>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        <% end %>
        <div class="mt-1">
          <%= form.password_field :password, autocomplete: "new-password", class: form_input_class(resource.errors[:password].present?) %>
        </div>
        <%= render "shared/forms/error_message", errors: resource.errors.full_messages_for(:password) %>
      </div>

      <div>
        <%= form.label :password_confirmation, class: form_label_class(resource.errors[:password_confirmation].present?) %>
        <div class="mt-1">
          <%= form.password_field :password_confirmation, autocomplete: "new-password", class: form_input_class(resource.errors[:password_confirmation].present?) %>
        </div>
        <%= render "shared/forms/error_message", errors: resource.errors.full_messages_for(:password_confirmation) %>
      </div>

      <div>
        <%= form.submit "Update", class: form_submit_class %>
      </div>
    <% end %>
    <%# <p>Unhappy? <%= button_to "Cancel my account", registration_url(resource_name), data: { confirm: "Are you sure?" }, method: :delete % ></p> %>
  </div>
<% end %>
