<%= render "shared/narrow_page", title: "Register" do %>
  <%= form_for(resource, as: resource_name, url: registration_url(resource_name), html: { class: "space-y-6" }) do |form| %>
    <div>
      <%= form.label :name, class: form_label_class(resource.errors[:name].present?) %>
      <div class="mt-1">
        <%= form.text_field :name, autofocus: true, autocomplete: "name", class: form_input_class(resource.errors[:name].present?) %>
      </div>
      <%= render "shared/forms/error_message", errors: resource.errors.full_messages_for(:name) %>
    </div>

    <div>
      <%= form.label :email, class: form_label_class(resource.errors[:email].present?) %>
      <div class="mt-1">
        <%= form.email_field :email, autocomplete: "email", class: form_input_class(resource.errors[:email].present?) %>
      </div>
      <%= render "shared/forms/error_message", errors: resource.errors.full_messages_for(:email) %>
    </div>

    <div>
      <%= form.label :password, class: form_label_class(resource.errors[:password].present?) do |l| %>
        <%= l %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      <% end %>
      <div class="mt-1">
        <%= form.password_field :password, autocomplete: "new-password", class: form_input_class(resource.errors[:password].present?) %>
      </div>
      <%= render "shared/forms/error_message", errors: resource.errors.full_messages_for(:password) %>
    </div>

    <div>
      <%= form.label :password_confirmation, class: form_label_class(resource.errors[:password_confirmation].present?) %>
      <div class="mt-1">
        <%= form.password_field :password_confirmation, autocomplete: "new-password", class: form_input_class(resource.errors[:password_confirmation].present?) %>
      </div>
      <%= render "shared/forms/error_message", errors: resource.errors.full_messages_for(:password_confirmation) %>
    </div>

    <div>
      <%= form.submit "Register", class: form_submit_class %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
<% end %>
